body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}
i {
  margin-right: 5px;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
#reviewRadios {
  display: flex;
}
#reviewForm {
  display: flex;
  flex-direction: column;
}
#reviewForm div {
  display: flex;
}
#reviewForm textarea {
  resize: none;
}
#reviewSubmit {
  justify-content: flex-end;
}
.line-item-img {
  width: 150px;
}
img {
  max-width: 100%
}
.update-quantity {
  flex-flow: row!important;
}
.update-quantity input {
  width: 50px!important;
  margin-right: .5rem!important;
}
#title {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 50px;
  margin: .1em 1em;
  line-height: .5;
  padding-top: 15px;
  padding-bottom: 0;
}
.navbar {
  background-color: #FBF0DA!important;
}
#top-nav a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: #491119;
  font-weight: 300;
}
.product-card {
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
}
.product-card .meta {
  color: #491119;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 1em;
}
.product-card:hover {
  border: solid 1px #491119;
}
.product-card:hover a {
  text-decoration: none;
}
.product-card:hover .meta,
.product-card:hover .quantity {
  background-color: #491119;
  color: #FBF0DA;
}
.product-card .quantity {
  padding-bottom: 1em;
}
.product-card .meta p:last-child {
  margin-bottom: 0;
}
.product-card label {
  margin-right: 10px;
}
.line-item label {
  display:none!important
}
.line-item .deleteButton {
  color: #491119;
}
.deleteButton:hover {
  text-decoration: none;
}
.hr-nav {
  margin-top: 0
}
.cart-title {
  text-align: center;
}
.banner {
  height:85vh;
}
.banner img {
  object-fit: cover;
}
.banner div:last-child {
  padding-left: 0!important;
}
.banner-text {
  position: absolute;
  background-color: #FBF0DA;
  z-index: 100;
  padding: 3em;
  text-transform: uppercase;
  font-size: 15px;
  opacity: .9;
  left: 33em;
  top: 20em;
  color: #491119;
  letter-spacing: 1px;
}
.banner-text a {
  color: #491119;
  margin-left: 5px;
  font-weight: bolder
}
.sidebar {
  border-right: 1px solid rgba(0,0,0,.1);
}
.admin-panel {
  min-height: 80vh;
}
.order-heading {
  font-size: 14px;
}
h4.order-heading{
  text-align: center;
}
.order-heading b {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.order-header {
  margin: 2em auto;
}
.alert {
  color: red;
  font-style: italic;
}
#hero {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}
#hero #productInfo {
  display: flex;
}
#hero #productInfo>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
