body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
#reviewRadios {
  display: flex;
}
#reviewForm {
  display: flex;
  flex-direction: column;
}
#reviewForm div {
  display: flex;
}
#reviewForm textarea {
  resize: none;
}
#reviewSubmit {
  justify-content: flex-end;
}
.line-item-img {
  width: 150px;
}
.line-item img {
  max-width: 100%
}
.update-quantity {
  flex-flow: row!important;
}
.update-quantity input {
  width: 50px!important;
  margin-right: .5rem!important;
}